/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
nav li{
	display: inline;
}
body {
	width:100%; margin:0; padding:0px;
	background:url('../images/tweed.png');
	text-align: center;
	}
	
ul{
	list-style-type:none;
	margin:0;
	padding: 0;
}
menu{
	width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    border-radius: 8px;
}
.logo{

}
#menu ul {
    padding: 8px 0px;
    margin: 20px;
}
#menu li { 
	display: inline; 
	padding: 0px; 
	margin: 20px;
}
#menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
}
#menu a:hover {
    color: #00FF00;
    background-color: transparent;
}

#menu {
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background:url('../images/tweed.png'); width: 100%; height: auto; margin: 0;padding: 0
    background-repeat: no-repeat;
    border-radius: 8px;        
}

.center {
	text-align: center;
}
.copy {
	text-align: right;
	font-family: tahoma, Geneva, sans-serif;
	color: #c4c4c4;
	padding-right: 20px;
}
.left{
	text-align: left;
	padding-left: 20px;
}
.titlecolor {
	color: #565656;
	font-family: Source+Sans+Pro;
}
.whitetitle {
	color: #ffffff;
	font-family: Source+Sans+Pro;	
}

.blue {
	background-color: #44a0fd 

}
.footer {
	text-align: center;
}
.footerlogo {
	background:url('../images/tweed.png'); width: 100%; height: 50 px; margin: 0;padding: 0
}

.bgblue {
	height: 10%;
	background-color: #4394db; width: 100%; height: 50 px; margin: 0;padding: 0;
	margin-top:-20px;
	padding-top: 5px;
	padding-bottom: 20px;
	font-family: arial, sans-serif;color: #ffffff; 
}

.bgsubtle {
	height: 10%;
	background:url('../images/az_subtle.png'); width: 100%; height: 50 px; margin: 0;padding: 0;
	padding-top: 5px;
	padding-bottom: 20px;
	font-family: arial, sans-serif;color: #000000;
}

.bgwhite {
	height: 10%;
	background-color: #ffffff;
	padding-top: 5px;
	padding-bottom: 8px;
	font-family: arial, sans-serif;color: #000000;
}
.cta {
	height: 10%px;
	padding-top: 5px;
	padding-bottom: 8px;

}

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/